extends ../layout

block content
  h2.display-data Delete Ip_0_232?
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Ip
          td= display(ip_0_232.IP)
        tr
          td Iftypeicon
          td= display(ip_0_232.ifTypeIcon)
        tr
          td Ifname
          td= display(ip_0_232.ifName)
        tr
          td Ifdescr
          td= display(ip_0_232.ifDescr)
        tr
          td Ifalias
          td= display(ip_0_232.ifAlias)
        tr
          td Ifadminicon
          td= display(ip_0_232.ifAdminIcon)
        tr
          td Ifopericon
          td= display(ip_0_232.ifOperIcon)
        tr
          td Mac
          td= display(ip_0_232.MAC)
        tr
          td Dns
          td= display(ip_0_232.DNS)
        tr
          td Vlans
          td= display(ip_0_232.VLANs)
        tr
          td Vlanformac
          td= display(ip_0_232.VLANforMAC)
        tr
          td Ifspeed
          td= display(ip_0_232.ifspeed)
        tr
          td Ifpype
          td= display(ip_0_232.ifpype)
        tr
          td Trunkport
          td= display(ip_0_232.TrunkPort)


  form#ip_0_232-form.form-horizontal(action="/ip_0_232s/" + ip_0_232._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/ip_0_232s") Back
      | &nbsp;
      input.btn.btn-danger(type="submit", value="Delete")
