extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data #{page_title}
		a.btn.btn-primary.pull-right(href="/networkLines/create") Create a new Networklines

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Itticket
				th Nbrlines
				th Location
				th Requester
				th Description
				th Notes
				th Completeddate
		tbody
			each networkLines in networkLines
				tr
					td
						a(href="/networkLines/" + networkLines._id + "/detail", title="Detail")= display(networkLines.itTicket)

						td= display(networkLines.nbrLines)

						td= display(networkLines.location)

						td= display(networkLines.requester)

						td= display(networkLines.description)

						td= display(networkLines.notes)

						td= display(networkLines.completedDate)

