extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data #{page_title}
		a.btn.btn-primary.pull-right(href="/harddrives/create") Create a new Harddrive

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Server
				th Odmodel
				th Odserial
				th Odpartnbr
				th Ndmodel
				th Ndserial
				th Ndpartnbr
				th Trndate
				th Dlocation
				th Note
		tbody
			each harddrive in harddrives
				tr
					td
						a(href="/harddrives/" + harddrive._id + "/detail", title="Detail")= display(harddrive.Server)

						td= display(harddrive.ODModel)

						td= display(harddrive.ODSerial)

						td= display(harddrive.ODPartNbr)

						td= display(harddrive.NDModel)

						td= display(harddrive.NDSerial)

						td= display(harddrive.NDPartNbr)

						td= display(harddrive.trnDate)

						td= display(harddrive.DLocation)

						td= display(harddrive.Note)

