extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data #{page_title}
		a.btn.btn-primary.pull-right(href="/waptrackers/create") Create a new Waptracker

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Name
				th Tdate
				th Location
				th Issue
		tbody
			each waptracker in waptrackers
				tr
					td
						a(href="/waptrackers/" + waptracker._id + "/detail", title="Detail")= display(waptracker.name)

						td= display(waptracker.tdate)

						td= display(waptracker.location)

						td= display(waptracker.issue)

