extends ../layout

block content
  h2.display-data Ip_phone Detail
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Mac
          td= display(ip_phone.mac)
        tr
          td Model
          td= display(ip_phone.model)
        tr
          td Part_nbr
          td= display(ip_phone.part_nbr)
        tr
          td Extention
          td= display(ip_phone.extention)
        tr
          td Note
          td= display(ip_phone.note)


  .form-actions
    a.btn.btn-warning(href="/ip_phones") Back
    | &nbsp;
    a.btn.btn-primary(href="/ip_phones/" + ip_phone._id + "/edit") Edit
    | &nbsp;
    a.btn.btn-danger(href="/ip_phones/" + ip_phone._id + "/delete") Delete