extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data #{page_title}
		a.btn.btn-primary.pull-left(href="/user") Count
		a.btn.btn-primary.pull-right(href="/mfntapes/create") Create a new Mfntape

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Label
				th Action_date
				th Action
				th Location
		tbody
			each mfntape in mfntapes
				tr
					td
						a(href="/mfntapes/" + mfntape._id + "/detail", title="Detail")= display(mfntape.label)

						td= display(mfntape.action_date)

						td= display(mfntape.action)

						td= display(mfntape.location)

