extends ../layout

block content
  h2.display-data Wap Detail
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Serial
          td= display(wap.serial)
        tr
          td Mac
          td= display(wap.mac)
        tr
          td Model
          td= display(wap.model)
        tr
          td Label
          td= display(wap.label)
        tr
          td Location
          td= display(wap.location)
        tr
          td Note
          td= display(wap.note)


  .form-actions
    a.btn.btn-warning(href="/waps") Back
    | &nbsp;
    a.btn.btn-primary(href="/waps/" + wap._id + "/edit") Edit
    | &nbsp;
    a.btn.btn-danger(href="/waps/" + wap._id + "/delete") Delete